body {
	 margin:0px;
   padding:0px;
	background-color: #B8DBFF

}

header{
	height: 46px;
	background-color: #292f33;
	position:fixed;
	top:0px;
	width:100%;
}



header #navigation { 
	display: inline-block;
	line-height: 46px; 
	margin:0 30px 0 30px; 
	display:block; width: 397px; 
	text-align: left; 
	position:fixed;
	top:0px;
	width:100%;
	}


#topright{
	display: inline-block;
	margin:0 30px 0 30px; 
	position:fixed;
	top:0px;
	right:0px;
	width:397px;
	text-align: right;
}

#topright li {
	display: inline-block;
}

#searchbox{
	display: inline-block;
	line-height: 46px;	
	text-align: left
}

.form-search {
	margin-right: 20px
}

ul
{
list-style-type:none;
margin:0;
padding:0;
}

li  {
	display:inline;
	margin-right: 20px

}

li a {
	text-decoration: none;
	color: grey;
}

.mini-profile{ 
	display: inline-block;
	margin-top: 60px;
	float:left;
	width:35%;
	height: 500px;
	background-color: yellow;

}

#tweet-feed {
	display: inline-block;
	float:right;
	margin-top: 60px;
	padding: 20px;
	width: 60%;
	height: 700px;
	background-color: green;
}

.feed-title {
	display:block;
	height:20px;
	padding-top: 20px;
	background-color: white;
	width:600px;
}

.mini-profile-name {
	padding-left: 150px;
}

.new-tweet{
	width:300px;
	height: 30px;
}


