body {
	 margin:0px;
   padding:0px;
	background-color: #B8DBFF

}

header{
	height: 46px;
	background-color: #292f33;
	position:fixed;
	top:0px;
	width:100%;
}



header #navigation { 
	display: inline-block;
	line-height: 46px; 
	margin:0 30px 0 30px; 
	display:block; width: 397px; 
	text-align: left; 
	position:fixed;
	top:0px;
	width:100%;
	}


#topright{
	display: inline-block;
	margin:0 30px 0 30px; 
	position:fixed;
	top:0px;
	right:0px;
	width:397px;
	text-align: right;
}

#topright li {
	display: inline-block;
}

#searchbox{
	display: inline-block;
	line-height: 46px;	
}

.form-search {
	margin-right: 20px;

}

.topsearch {
	border-radius: 5px; 
	background-color: #ccc;
}

ul
{
list-style-type:none;
margin:0;
padding:0;
}

li  {
	display:inline;
	margin-right: 20px

}

li a {
	text-decoration: none;
	color: grey;
}

.mini-profile{ 
	display: inline-block;
	margin-top: 60px;
	float:left;
	width:35%;
	height: 500px;
/*	background-color: yellow;
*/
}

#tweet-feed {
	display: inline-block;
	float:right;
	margin-top: 60px;
	padding: 20px;
	width: 60%;
	height: 700px;
}

.feed-title {
	display:block;
	height:46px;
	padding-top: 20px;
	background-color: white;
	width:600px;
	font-size: 22px;
	font-weight:200;
	border-radius: 12px 12px 0 0; 

}

.mini-profile-name {
	padding-left: 150px;
	margin-left: 100px;
	height:40px;
}

.new-tweet{
	float:right;
	width:310px;
	height: 30px;
}

.profile-stats{
	float:right;
	height: 50px;
}

button {
			width:600px;
			height: 50px;	
}

 .tweet-list {
	display:inline-block;
	height:46px;
	padding-top: 0;
	background-color: white;
	width:600px;
	font-size: 15px;
}
